import { Outlet, NavLink } from 'react-router';
import styles from './main-layout.module.css';

export const MainLayout = () => {
  return (
    <div className={styles.container}>
      <header className={styles.header}>
        <h1>{{PROJECT_NAME}}</h1>
        <nav className={styles.nav_links}>
          <NavLink to="/">Home</ NavLink>
        </nav>
      </header>
      <Outlet />
    </div>
  );
};